body {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: darkseagreen;
}

h1 {
    margin: 0 auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    margin: 2%;
}

h2 {
    font-size: 25px;
    font-weight: lighter;
    margin: 2%;
}

hr {
    border: 1px solid black;
}

p {
    font-size: 25px;
}

.container {
    display: flex;                
    justify-content: center;      
    align-items: center;         
}

.column {
    height: 100%;
    width: 100%;
    flex-direction: column; 
}

.wrap {
    flex-wrap: wrap;
    height: 456px;
    width: 456px;
}

.barrier {
    flex-wrap: wrap;
    flex-direction: row;
    height: 110px;
    width: 425px;
    align-items: center;
}

.square {
    border: 1px solid rgba(0, 0, 0, 0.75);
    font-size: 96px;
    height: 150px;
    line-height: 150px;
    user-select: none;
    width: 150px;
}

.square:hover {
    background-color: green;
    cursor: pointer;
}

#turnUpdate {
    font-size: 24px;
}

#xButton, #oButton {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    font-size: 20px;
}

#xButton:hover, #oButton:hover {
    background-color: green;
    cursor: pointer;
}

#reset-button {
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 21px;
    line-height: 55px;
    margin: 1%;
    text-align: center;
    width: 456px;
}

#reset-button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}
